[Unit]
Description=Fairchain Testnet Node
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=root
Group=root
WorkingDirectory=/opt/fairchain
ExecStart=/opt/fairchain/bin/fairchain-node --network testnet --datadir /opt/fairchain/testnet --listen 0.0.0.0:19334 --rpc 127.0.0.1:19445 --seed-peers 45.32.196.26:19334,207.148.9.169:19334 --log-level info
Restart=always
RestartSec=5
LimitNOFILE=65535
StandardOutput=append:/opt/fairchain/logs/fairchain-testnet.log
StandardError=append:/opt/fairchain/logs/fairchain-testnet.log

[Install]
WantedBy=multi-user.target
